<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,249},{2737,1540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2737,1540}}</string>
                <key>sourceSize</key>
                <string>{2737,1540}</string>
            </dict>
            <key>brush.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>brush_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,0},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>eraser_brush.png</key>
            <dict>
                <key>frame</key>
                <string>{{2199,0},{249,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,249}}</string>
                <key>sourceSize</key>
                <string>{249,249}</string>
            </dict>
            <key>eraser_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2448,0},{249,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,249}}</string>
                <key>sourceSize</key>
                <string>{249,249}</string>
            </dict>
            <key>next_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{83,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>next_L_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,0},{106,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,136}}</string>
                <key>sourceSize</key>
                <string>{106,136}</string>
            </dict>
            <key>next_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{86,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>next_R_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,0},{105,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,124}}</string>
                <key>sourceSize</key>
                <string>{105,124}</string>
            </dict>
            <key>none.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,0},{157,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,124}}</string>
                <key>sourceSize</key>
                <string>{157,124}</string>
            </dict>
            <key>select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,0},{165,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,130}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>select_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,0},{165,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,130}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>sizebar_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{2697,0},{323,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,52}}</string>
                <key>sourceSize</key>
                <string>{323,52}</string>
            </dict>
            <key>sizebar_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{3020,0},{323,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,52}}</string>
                <key>sourceSize</key>
                <string>{323,52}</string>
            </dict>
            <key>tool_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,0},{104,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,159}}</string>
                <key>sourceSize</key>
                <string>{104,159}</string>
            </dict>
            <key>tool_black_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,0},{104,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,159}}</string>
                <key>sourceSize</key>
                <string>{104,159}</string>
            </dict>
            <key>tool_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,0},{104,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,159}}</string>
                <key>sourceSize</key>
                <string>{104,159}</string>
            </dict>
            <key>tool_blue_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,0},{104,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,159}}</string>
                <key>sourceSize</key>
                <string>{104,159}</string>
            </dict>
            <key>tool_eraser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,0},{205,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,115}}</string>
                <key>sourceSize</key>
                <string>{205,115}</string>
            </dict>
            <key>tool_eraser_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,0},{205,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,115}}</string>
                <key>sourceSize</key>
                <string>{205,115}</string>
            </dict>
            <key>tool_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,0},{104,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,159}}</string>
                <key>sourceSize</key>
                <string>{104,159}</string>
            </dict>
            <key>tool_red_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,0},{104,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,159}}</string>
                <key>sourceSize</key>
                <string>{104,159}</string>
            </dict>
            <key>tool_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,0},{105,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,117}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
            <key>tool_reset_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,0},{121,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,135}}</string>
                <key>sourceSize</key>
                <string>{121,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>whiteboard.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:885d06898e4c2c490b3570355f93dc52:ef2caec0208280adfa66baebf7c63828:55afadd0bb680316dbd63750e9ca7031$</string>
            <key>textureFileName</key>
            <string>whiteboard.png</string>
        </dict>
    </dict>
</plist>
